@mixin font($size : 14px, $weight : 300, $height : 17px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin position($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}

@mixin  size($widht, $height) {
    width: $widht;
    height: $height;
}

@mixin flex($axis, $alig-horiz, $alig-vert) {
    display: flex;
    flex-direction: $axis;
    justify-content: $alig-horiz;
    align-items: $alig-vert;
}

@mixin tablet {
    @media (max-width: $max-tablet-width - 1) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $max-mobile-width - 1) {
        @content;
    }
}