$black-color: #222222;
$black-advant: #222224;
$pink-color: #F1E4E6;
$pink-advant: #FBFBFB;
$pink-crumb: #F8F3F4;
$pink-cart: #EAEAEA;
$greyblack: #A4A4A4;
$grey-color: #6F6E6E;
$grey-crumb: #636363;
$grey-cart: #575757;
$text-color: #F16D7F;
$button-color:#F26376;
$fon-icon: #E8E8E8;
$white: #FFF;
$order-fon: #F5F3F3;
$line-fon: #E2E2E2;
$grey-text: #9F9F9F;
$greblack-text: #5D5D5D;
$pinkred: #FF6A6A;
$grey-placeholder: #B1B1B1;
$white-bgc: #E1E1E1;

