@import './variables';
@import './extend';
@import './mixins';
@import './reset';
@import './general';
@import './blocks/header';
@import './blocks/navigation';
@import './blocks/brand';
@import './blocks/stocks';
@import './blocks/products';
@import './blocks/advant';
@import './blocks/subscribe';
@import './blocks/footer';
@import './blocks/breadcrumb';
@import './blocks/registration';
@import './blocks/cart';
@import './blocks/dropdowns';
@import './blocks/pagination';
@import './blocks/carousel_product';
@import './blocks/description';