.footer {
    background-color: $black-advant;

    &__wrapper {
        min-height: 79px;
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        @include mobile {
            min-height: 143px;
            @include flex(column-reverse, flex-end, center);
        };
    }
    
    &__copy {
        @include font(16px, 400, 20px);
        color: $pink-advant;
    }
    
    &__social {
        @include flex(row, space-between, normal);
        @include mobile {
            margin: 43px 0 40px 0;
        };

        &-link {
            @include size(32px, 32px);
            @include flex(row, center, center);
            background-color: $white;
            margin-left: 7px;

            &:hover {
                background-color: $text-color;
            }
            
            &:hover svg {
                fill: $white;
            }
        }
    }
}
