.registration {
    @include flex(row, space-between, normal);
    @include mobile{
        @include flex(column, normal, center);
    };
}

.form {
    max-width: 360px;
    margin: 64px 128px 0 0;
    @include tablet {
        margin: 40px 0 0 0;
    };
    @include mobile {
        width: auto;
    };
    @include flex(column, normal, normal);

    &__name {
        font-size: 16px;
        color: $black-color;
    }
    
    &__input {
        @include size(auto, 45px);
        padding-left: 17px;
        margin-top: 20px;

        &::-webkit-input-placeholder {
            font-family: Lato;
            font-style: normal;
            @include font(13px, 300, 16px);
            color: $grey-placeholder;
        }
        
        &:focus::-webkit-input-placeholder {
            text-indent: 360px;
            @include font(16px, 400, 16px);
            transition-timing-function: easeInQuint;
            transition: text-indent 1.3s;
        }
    }

    &__text {
        margin: 15px 0 39px;
        @include font(13px, 300, 16px);
        color: $grey-placeholder;
    }
    
    &__submit {
        @include size(167px, 50px);
        margin-bottom: 96px;
        padding: 16px 29px 17px 29px;
        @include flex(row, space-around, center);
        @include mobile {
            margin-bottom: 0;
        };
        border-style: none;
        background-color: $text-color;
        
        &-text {
            text-transform: uppercase;
            color: $white;
            font-weight: 400;
        }
        
        &-icon {
            fill: $white;
        }
        
        &:hover {
            background-color: $white;
            border: 1px solid $text-color;
            cursor: pointer;
        }
        
        &:hover .form__submit-icon {
            fill: $text-color;
        }
        
        &:hover .form__submit-text {
            color: $text-color;
        }
    }
}

.radio-wrapper {
    margin: 31px 0 33px 0;
    @include flex(row, normal, center);

    &__input {
        @include size(17px, 17px);
        margin: 0 10px 0 0;
        display: none;
    }
    
    &__label {
        margin: 0 20px 0 0;
        @include flex(row, normal, center);
        @include font(11px, 300, 13px);

        &::before {
            content: '';
            @include size(17px, 17px);
            margin-right: 10px;
            border: 1px solid #A4A4A4;
            border-radius: 9px;
        }
    }
    
    &__input:checked+.radio-wrapper__label::before {
        background-color: $text-color;
    }
}

.loyalty {
    width: 652px;
    @include font(24px, 300, 29px);
    @include tablet {
        width: 45%;
        @include font(16px, 300, 19px);
    };
    @include mobile {
        width: 100%;
    };

    &__text--title {
        margin: 64px 0 22px 0;
        @include tablet {
            margin: 40px 0 32px 0;
        };
        text-transform: uppercase;
    }
    
    &__list {
        margin-top: 21px;
        margin-left: 23px;
    }
    
    &__list-item {
        margin-bottom: 16px;
        padding-left: 23px;
        list-style: url(../img/check.svg);
    }
}