.stocks {
    &__list {
        margin-top: 64px;
        @include tablet {
            margin-top: 20px;
        };
        @include mobile {
            margin-top: 64px;
        };
        @include flex(row, space-between, normal);
        flex-wrap: wrap;
    }
    
    &__item {
        width: 32%;
        min-height: 260px;
        @include tablet {
            min-height: 167px;
        };
        @include mobile {
            width: 100%;
            min-height: 247px;
            margin-bottom: 32px;
        };
        background-size: cover;
        @include flex(row, center, center);
        text-align: center;
    
        &-link {
            text-decoration: none;
            text-transform: uppercase;
        }
        
        &-text {
            @include font(16px, 400, 19px);
            color: $white;
        }
        
        &-heading {
            @include font(24px, 700, 29px);
        }
        
        &--woman {
            background-image: url(../img/for-women.jpg);
        }
        
        &--man {
            background-image: url(../img/for-men.jpg);
        }
        
        &--kids {
            background-image: url(../img/for-kids.jpg);
        }
        
        &--accesories {
            width: 100%;
            min-height: 180px;
            margin: 30px 0 97px 0;
            @include tablet {
                min-height: 116px;
                margin-bottom: 155px;
            };
            @include mobile {
                min-height: 111px;
                margin: 0 0 64px 0;
            };
            background-image: url(../img/accesories.jpg);
        }
    }
}